{% extends 'base.html' %}

{% block content %}
<h2>➕ Add a New Device</h2>
<form method="post">
    <label for="serial_number">Serial Number:</label>
    <input type="text" id="serial_number" name="serial_number" required><br>

    <label for="make">Make:</label>
    <input type="text" id="make" name="make"><br>

    <label for="model">Model:</label>
    <input type="text" id="model" name="model"><br>

    <label for="type">Type:</label>
    <input type="text" id="type" name="type"><br>

    <label for="status">Status:</label>
    <input type="text" id="status" name="status"><br>

    <label for="location">Location:</label>
    <input type="text" id="location" name="location"><br>

    <label for="latitude">Latitude:</label>
    <input type="text" id="latitude" name="latitude" placeholder="e.g., -1.286389"><br>

    <label for="longitude">Longitude:</label>
    <input type="text" id="longitude" name="longitude" placeholder="e.g., 36.817223"><br>

    <input type="submit" value="Add Device">
</form>
{% endblock %}
