{% extends 'base.html' %}
{% block content %}
<h2>Admin Login</h2>
<form method="post" class="col-md-4">
    <div class="mb-3">
        <label class="form-label">Username</label>
        <input name="username" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" name="password" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>
{% if error %}
    <div class="alert alert-danger mt-3">{{ error }}</div>
{% endif %}
{% endblock %}
